In [4]:
import pandas as pd
import numpy as np
import seaborn as sns
df=pd.read_csv("C:/Users/91949/OneDrive/Desktop/Data science/Wee7_Lark activity.csv")
df.head()

   Gender Test preparation  Total Marks
0    male             none           14
1  female             none           28
2  female             none           18
3  female             none           48
4  female             none           21

# 1. Carry out descriptive analytics on the dataset.

In [5]:
df.describe()

       Total Marks
count    28.000000
mean     32.321429
std      12.454520
min      12.000000
25%      22.500000
50%      33.000000
75%      43.250000
max      50.000000

In [6]:
df.describe(include=['object'])

        Gender Test preparation
count       28               28
unique       2                2
top     female             none
freq        16               21

In [7]:
df['Gender'].value_counts()

female    16
male      12
Name: Gender, dtype: int64

# 2. Check whether female and male students scored the same marks

In [8]:
df.head()

   Gender Test preparation  Total Marks
0    male             none           14
1  female             none           28
2  female             none           18
3  female             none           48
4  female             none           21

In [9]:
df.groupby(by='Gender')['Total Marks'].sum().to_frame()

        Total Marks
Gender
female          540
male            365

In [18]:
male = df[df['Gender']=='male']['Total Marks']
female = df[df['Gender']=='female']['Total Marks']
alpha = .05

In [19]:
from scipy.stats import ttest_ind

In [20]:
_,p = ttest_ind(male,female)
print("p value :", p)
if p < alpha:
    print("Reject H0")
else:
    print("Fail to reject H0.")

p value : 0.4937822317960763
Fail to reject H0.

# 3. Check whether test preparation helps the students

H0: Test preparation does not help students
H1: Test preparation helps students; assume significance value/alpha to be 0.5

In [15]:
tp_none = df[df['Test preparation']=='none']['Total Marks']
tp_completed = df[df['Test preparation']=='completed']['Total Marks']

In [ ]:
_,p = ttest_ind(tp_none,tp_completed)

print("p value :", p)
if p < alpha:
    print("Reject H0")
else:
    print("Fail to reject H0.")